<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login V2</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{{url_for('static', path='/images/icons/favicon.ico')}}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', path='/vendor/bootstrap/css/bootstrap.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', path='/fonts/font-awesome-4.7.0/css/font-awesome.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', path='/fonts/iconic/css/material-design-iconic-font.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', path='/vendor/animate/animate.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', path='/vendor/css-hamburgers/hamburgers.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', path='/vendor/animsition/css/animsition.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', path='/vendor/select2/select2.min.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', path='/vendor/daterangepicker/daterangepicker.css')}}">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{{url_for('static', path='/css/util.css')}}">
	<link rel="stylesheet" type="text/css" href="{{url_for('static', path='/css/main.css')}}">
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form">
					<span class="login100-form-title p-b-26">
						Welcome Demo Fast API
					</span>
<!--					<span class="login100-form-title p-b-48">-->
<!--						<i class="zmdi zmdi-font"></i>-->
<!--					</span>-->

<!--					<div class="wrap-input100 validate-input" data-validate = "Valid email is: a@b.c">-->
<!--						<input class="input100" type="text" name="email">-->
<!--						<span class="focus-input100" data-placeholder="Email"></span>-->
<!--					</div>-->
<!--					<div class="wrap-input100 validate-input">-->
<!--						<input class="input100" type="text" name="username" id="username">-->
<!--						<span class="focus-input100" data-placeholder="User name"></span>-->
<!--					</div>-->

<!--					<div class="wrap-input100 validate-input" data-validate="Enter password">-->
<!--						<span class="btn-show-pass">-->
<!--							<i class="zmdi zmdi-eye"></i>-->
<!--						</span>-->
<!--						<input class="input100" type="password" name="pass", id="pass">-->
<!--						<span class="focus-input100" data-placeholder="Password"></span>-->
<!--					</div>-->
					<div class="wrap-input100">
						<input class="input100" type="text" name="username" id="username">
					</div>

					<div class="wrap-input100">
						<input class="input100" type="password" name="pass" id="pass">
					</div>

					<div class="container-login100-form-btn">
						<div class="wrap-login100-form-btn">
							<div class="login100-form-bgbtn"></div>
							<button class="login100-form-btn">
								Login
							</button>
						</div>
					</div>

<!--					<div class="text-center p-t-115">-->
<!--						<span class="txt1">-->
<!--							Don’t have an account?-->
<!--						</span>-->

<!--						<a class="txt2" href="#">-->
<!--							Sign Up-->
<!--						</a>-->
<!--					</div>-->
				</form>
			</div>
		</div>
	</div>


	<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
	<script src="{{url_for('static', path='/vendor/jquery/jquery-3.2.1.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', path='/vendor/animsition/js/animsition.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', path='/vendor/bootstrap/js/popper.js')}}"></script>
	<script src="{{url_for('static', path='/vendor/bootstrap/js/bootstrap.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', path='/vendor/select2/select2.min.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', path='/vendor/daterangepicker/moment.min.js')}}"></script>
	<script src="{{url_for('static', path='/vendor/daterangepicker/daterangepicker.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', path='/vendor/countdowntime/countdowntime.js')}}"></script>
<!--===============================================================================================-->
	<script src="{{url_for('static', path='/js/main.js')}}"></script>
<!--===============================================================================================-->
	<!--client Id -->
	<input type="hidden" id="client_id" name="client_id" value={{client_id}}>
<!--===============================================================================================-->
	<!--Authorization Code -->
	<input type="hidden" id="auth_code" name="auth_code" value={{auth_code}}>
	<script>
		$(document).ready(function(){
		   $('.login100-form-btn').on('click', function(){
			   var username = $('#username').val();
			   var password = $('#pass').val();
			   var client_id = $('#client_id').val();
			   var auth_code = $('#auth_code').val();

			   var data = {"user_name": username, "password": password};

			   var dataType = 'json';

			   // Set Headers
			   var headers = {
				  "Authorization-Code": auth_code,
				  "Client-Id": client_id
				};

			   // Call Api
			   $.ajax({
					url: "http://localhost:8001/login",
					headers: headers,
					method: "POST",
					dataType: dataType,
					data: data,
					success: function(data){
					  alert(data);
					}
			   });
		   });
		});
	</script>
</body>
</html>