<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
		$(document).ready(function(){
		   $('#submit').click(function(){
			   var username = $('#username').val();
			   var password = $('#password').val();
			   var client_id = $('#client_id').val();
			   var auth_code = $('#auth_code').val();

			   var data = {"user_name": username.toString(), "password": password.toString()};

			   var dataType = 'json';

			   // Set Headers
			   var headers = {
				  "authorization-code": auth_code,
				  "client-id": client_id
				};

			   // Call Api
			   $.ajax({
					url: "http://127.0.0.1:8001/login",
					headers: headers,
					method: "POST",
                    data: JSON.stringify(data),
					dataType: dataType,
                    contentType: "application/json",
					success: function(data){
					  var result_code = data["result_code"];
					  if (result_code !== "success")
					      alert("Login Fail !. Please check your username or password again.");
                      else
                          alert(data["reply"]["redirect_url"]);
					},
                    error(jqXHR, textStatus, errorThrown){
					    var response_data = $.parseJSON(jqXHR);
					    console.log(response_data);
                        alert("Login Unsuccessfully !");
                    }
			   });
		   });
		});
	</script>
</head>
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post">
                            <h3 class="text-center text-info">Login</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="button" name="submit" class="btn btn-info btn-md" value="submit" id="submit">
                            </div>
                            <div id="register-link" class="text-right">
                                <a href="#" class="text-info">Register here</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="client_id" name="client_id" value={{client_id}}>
    <input type="hidden" id="auth_code" name="auth_code" value={{auth_code}}>
</body>

</html>